{% extends 'mailing/base.html' %}
{% block content %}
<p class="text-center mb-2">
    <a href="{% url 'mailing:mailing_create' %}" class="btn btn-dark my-2">Настроить рассылку</a>
</p>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    {% for object in object_list %}
    <div class="d-flex text-muted pt-3 border-bottom justify-content-between">
        <div class="d-flex text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm">
                <strong class="d-block text-gray-dark">{{ object }}</strong>
                <span class="d-block small text-dark">Создана: {{ object.created_at }}</span>
                <span class="d-block small text-dark">Периодичность рассылки: {{ object.periodicity }}</span>

                <span class="d-block small text-dark">Клиенты:
                    {% for client in object.clients.all %}
                    {{ client }},
                    {% endfor %}
                </span>
                <span class="d-block small text-dark">Сообщение: {{ object.message }}</span>
            </p>
        </div>
        <div class="btn-group h-50">
            <a href="{% url 'mailing:mailing_detail' object.pk %}" class="btn btn-outline-dark my-2">Посмотреть</a>
            <a href="{% url 'mailing:mailing_update' object.pk %}" class="btn btn-outline-dark my-2">Редактировать</a>
            <a href="{% url 'mailing:mailing_delete' object.pk %}" class="btn btn-outline-dark my-2">Удалить</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}