{% extends 'mailing/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row justify-content-center text-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-4 mt-4 fs-4 display-6">Хотите удалить сообщение "{{ object }}" ?</h4>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">Подтвердить</button>
                        <a href="{% url 'mailing:client_list' %}" class="btn btn-outline-dark">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}